<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InjectoeDatabase" connectionString="data source=localhost;initial catalog=InjectorDatabase;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>