.categories {
    padding: 20px;
}
.category {
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px solid #888888;
    border-radius: 15px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 20px;
}
.category:hover {
    opacity: 0.6;
}
.category:focus {
    outline-width: 0ch;
}
.category-text {
    margin-top: 5px;
    color: #dddddd;    
}
.new-category-text {
    color: #888888; 
    opacity: 0.3;
}