.elements {
    padding: 20px;
}
.element {
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px solid #888888;
    border-radius: 15px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 20px;
}
.element:hover {
    opacity: 0.6;
}
.element:focus {
    outline-width: 0ch;
}
.element-text {
    margin-top: 5px;
    color: #dddddd;    
}
.new-element-text {
    color: #888888; 
    opacity: 0.3;
    font-weight: 100;
    font-size: 130px;
}