.element-list {
    width: 400px;
    height: 275px;
    overflow-y: auto;
    display: inline-block;
}
.element-list::-webkit-scrollbar
{
    width: 5px;
}
.element-list::-webkit-scrollbar-track
{
	background-color: rgb(190, 198, 238);
}
.element-list::-webkit-scrollbar-thumb
{
	background-color: rgb(80, 114, 153);
}
.element {
    padding: 5px 5px 5px 5px;
    border-bottom: 1.5px solid rgb(80, 114, 153);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.element:hover {
    background-color: rgb(201, 219, 252);
}
.image {
    max-height: 150px;
    max-width: 119px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
}